.principal {
  background-clip: border-box;
  background-color: #deeeed;
  border: 3px solid #667887 !important;
  border-radius: 1em;
  margin-bottom: 2em;
  width: inherit;
}

.principal:hover {
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
}

.border:hover {
  box-shadow: 0px 0px 1em rgb(3, 176, 189);
  -webkit-box-shadow: 0px 0px 1em rgb(3, 176, 189);
  -moz-box-shadow: 0px 0px 1em rgb(3, 176, 189);
}

#pagination {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}

body {
  height: 100%;
}

title {
  color:red;
  text-align: center;
}
