<div >
  <div *ngIf="!apiService.currentList">
    <h4>Loading...</h4>
  </div>
  <ng-container *ngIf="apiService.currentList">
    <div #target class="row ">
     
          
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch "
        *ngFor="let item of apiService.currentList.results | paginate: apiService.config">
        <div class="principal border">

          
        <app-character [character]="item" *ngIf="!apiService.isFiltering || apiService.filEndpoint === 'character'">
        </app-character>
        <app-location [location]="item" *ngIf="apiService.isFiltering && apiService.filEndpoint === 'location'">
        </app-location>
        <app-episode [episode]="item" *ngIf="apiService.isFiltering && apiService.filEndpoint === 'episode'">
        </app-episode>
        </div>

      </div>
    </div>
    <div id="pagination">

      <pagination-controls  previousLabel="" nextLabel="" (pageChange)="pageChanged($event)" (click)="scroll(target)"> </pagination-controls>

    </div>
  </ng-container>
</div>