.banner,
.season-eps,
.planet-char {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  background-clip: content-box;
}

.banner {
  background-image: url("../../../assets/background.jpg");
  height: 90vh !important;
  background-attachment: fixed;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  background-clip: content-box; */
}

.parent-height {
  height: inherit;
}

.position-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-family: "Amatic SC", cursive;
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.link a:hover {
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
  z-index: 1;
}

.items-header {
  display: flex;
  justify-content: space-between;
}

.banner img {
  image-orientation: flip;
}

.btn-filter {
  display: flex;
  justify-content: flex-end;
}

.clean {
  margin-left: 1em;
}

.btns-row {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .btn-filter {
    margin-top: 0.5em;
    justify-content: center;
  }
}

@media (max-width: 767px) {
}

.link img {
  width: 15vw;
}

#img-chracters img {
  width: 35vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .btn-filter {
    justify-content: flex-end;
  }
  #img-chracters img {
    width: 30vw;
  }
}

.header-components {
  height: 100%;
  width: 100vw;
}

.banner {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
