.banner {
  background-image: url("../../../assets/rick-and-morty-banner.png");
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  background-clip: content-box;
}

.banner img {
  image-orientation: flip;
}

.btns-chart {
  display: flex;
  justify-content: flex-start;
}

.btn-filter {
  display: flex;
  justify-content: flex-end;
}

#btn-filter button {
 margin-left: 1em;
}

header {
  background-color: #a8c0ce;
  /* background-color: #772047; */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  width: 100vw;
}

.btns-row {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .banner {
    height: 130px;
  }
  .btn-filter {
    margin-top: 0.5em;
    justify-content: center;
  }
  .btns-chart {
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .banner {
    height: 230px;
  }
  .btn-filter {
    margin-top: 0.5em;
    justify-content: flex-end;
  }
}
