.banner,
.season-eps,
.planet-char {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  background-clip: content-box;
}

.banner {
  background-image: url("../../../assets/background.jpg");
  height: max-content;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 -150px 80px -80px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 -150px 80px -80px rgb(0, 0, 0);
  -moz-box-shadow: inset 0 -150px 80px -80px rgb(0, 0, 0);
}

.logo img {
  width: 35%;
}

.parent-height {
  height: inherit;
}

.position-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-family: "Amatic SC", cursive;
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.link a:hover {
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.3);
  z-index: 1;
}

.items-header {
  display: flex;
  justify-content: space-between;
}

.banner img {
  image-orientation: flip;
}

@media (max-width: 767px) {
  .items-header {
    display: flex;
    justify-content: space-between;
  }

  .position-link {
    font-size: 15px;
  }
}

.link img {
  width: 15vw;
}

#img-chracters img {
  width: 35vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  #img-chracters img {
    width: 30vw;
  }
}

.header-components {
  height: 100%;
  width: 100vw;
  background-color: #00000018;
}

.banner {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
