<header>
    <div>
        <div class="row">
            <div class="col-12 banner">
                <!-- <img src="../../../assets/rick-and-morty-banner.png" alt=""> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row btns-row">
            <div class="col-12 col-sm-12 col-md-8 btns-chart">
                <app-chart-button chart="Episódios Por Temporada"></app-chart-button>
                <app-chart-button chart="Personagens Por Planeta"></app-chart-button>
                <app-chart-button chart="Episódios Por Personagens"></app-chart-button>
            </div>

            <div class="col-12 col-sm-12 col-md-4 btn-filter">
                <app-filter-button>
                </app-filter-button>
            </div>

        </div>
    </div>
</header>