span {
    font-weight: bold;
    color: #2c6b68;
  }
  
  h5 {
    color: #d3435e;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
  }
  
  p {
    margin: 0.3em;
  }
  
  .col1,
  .col2 {
    padding: 0;
  }
  
  .cardloc {
    padding: 1em;
  }
