span {
  font-weight: bold;
  color: #2c6b68;
}

h5 {
  color: #46BB00;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}

p {
  margin: 0.3em;
}

.cardep {
  padding: 1em;
}
