<div class="cardchar">
    <div class="row">

        <h5 class="col-12"> {{character.name}}</h5>
    </div>
    <div class="row">
        <div class="col-3 image">

            <img :src="{{character.image}}" alt="">


        </div>
        <div class="col-9">

            <div class="row">
                <div class="col col1">
                    <p><span>Gênero:</span> {{character.gender}}</p>
                    <p><span>Status:</span> {{character.status}}</p>
                    <p><span>Espécie:</span> {{character.species}}</p>
                </div>
                <div class="col-8 col2">
                    <p><span>Origem:</span> {{character.origin.name}}</p>
                    <p><span>Última localização:</span> {{character.location.name}}</p>
                    <p><span>Total de aparições:</span> {{character.episode.length}}</p>
                </div>
            </div>
        </div>
    </div>
</div>