.image {
  display: flex;
  align-items: center;
  justify-content: center;
}



.image img {
  border-radius: 50%;
  border: 2px solid #91b0c1;
  width: 100%;
  background-color: #91b0c1;
}

span {
  font-weight: bold;
  color: #2c6b68;
}

h5 {
  color: #d3435e;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

p {
  margin: 0.3em;
}

.col1,
.col2 {
  padding: 0;
}

.cardchar {
  padding: 1em;
}
