.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  border-radius: 50%;
  width: 100%;
  border: 2px solid #91B0C1;
  /* border: 2px solid  #03C810; */
}

span {
  font-weight: bold;
  color: #2C6B68;
}

h5 {
  color: #D3435E;;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
   font-family: "Quicksand", sans-serif; 
   font-weight: bold;
}

p {
  margin: 0.3em;
}

.col1,
.col2 {
  padding: 0;
}

.cardchar {
  padding: 1em;
}
