.container {
  margin-top: 1em;
  padding: 0 2em;
}

.container-list-all {
 
  background-image: url("../../../assets/rickandmorty-pattern2.png");
}

.container-fluid {
   padding: 1em 3em;
}

.season-eps, .planet-char {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  overflow-x: hidden;
  
}

.season-eps {
  background-image: url("../../../assets/background1.jpg");
  /* height: 60vh !important; */
}

.planet-char {
  background-image: url("../../../assets/background2.jpg");
  /* height: 60vh !important; */
}

.title {
  
  text-align: center;
  margin-bottom: 1em;
}

h1,h2 {
  font-family: 'Rampart One', cursive;
   color: white;
}

h1 {
 
  text-shadow: -2px -2px 6px rgb(5, 205, 255), 2px 2px 6px rgb(5, 205, 255);
}

h3 {
  color: white;
}