html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #bccfda;
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
}


i {
  margin-right: 0.3em;
}

.page-item.active .page-link {
  z-index: 3;
  background-color: #cc405e;
  border-color: #cc405e;
}
.page-link {
  color: #cc405e;
}
