@import "~ngx-toastr/toastr";

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #bccfda;
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
}

i {
  margin-right: 0.3em;
}

.ngx-pagination .current {
  background-color: #12b0c9 !important;
  border: 2px solid #e4e156 !important;
  padding: 0.6rem 1rem !important;
  border-radius: 0.5em;
  z-index: 1;
  box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
  -webkit-box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
  -moz-box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
}

.pagination-previous {
  border-radius: 2px 0 2px 0 !important;
}

.ngx-pagination .pagination-next {
  border-radius: 0 2px 2px 0 !important;
}

.ngx-pagination li {
  background-color: #deeeed !important;
  border: 2px solid #667887 !important;
}
