@import "~ngx-toastr/toastr";

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #0E0B15;
  font-family: "Dosis", sans-serif;
  overflow-x: hidden;
}

i {
  margin-right: 0.3em;
}

.ngx-pagination .current {
  background-color: #12b0c9 !important;
  border: 2px solid #e4e156 !important;
  padding: 0.6rem 1rem !important;
  border-radius: 0.5em;
  z-index: 1;
  box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
  -webkit-box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
  -moz-box-shadow: 0px 0px 0.3em rgb(3, 176, 189);
}

.ngx-pagination .pagination-previous {
  border-radius:  0.5em 0 0 0.5em ;
}

.ngx-pagination .pagination-next {
  border-radius: 0 0.5em 0.5em 0 ;
}

.ngx-pagination li a:hover {
  color: #667887 !important;
  font-weight: bold;
  background-color: transparent;
}

.ngx-pagination li {
  background-color: #deeeed !important;
  border: 2px solid #667887 !important;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #273542;
  border-radius: 20px ;
}

*::-webkit-scrollbar-thumb {
  background-color: #6C2A36;
  border-radius: 20px;
  border: 3px solid #273542;
}