<select class="form-control" id="filterSelect" type="submit" [ngModel]="filterSelected" (ngModelChange)="onFilterChange($event)">
    <option value="" disabled selected>Filtrar Por</option>
    <option *ngFor="let option of filterOptions">{{ option }}</option>
</select>

<form [formGroup]="form" (ngSubmit)="onRegisterSubmit()" *ngIf="filterSelected.length">
    <div class="form-row" *ngIf="filterSelected === 'Personagem'">
        <div class=" form-group col-12 col-sm-12 col-md-6">
            <input type="text" placeholder="Nome do Personagem" formControlName="name" class="form-control">
            <select name="category" id="inputType" class="form-control" formControlName="status">
                <option value="" disabled selected>Selecione o Status</option>
                <option *ngFor="let st of status" value="{{st}}">{{st}}</option>
            </select>
            <input type="text" placeholder="Espécies" formControlName="species" class="form-control">
        </div>
        <div class=" form-group  col-12 col-sm-12 col-md-6">
            <input type="text" placeholder="Tipo" formControlName="type" class="form-control">
            <select name="category" id="inputType" class="form-control" formControlName="gender">
                <option value="" disabled selected>Selecione o Gênero</option>
                <option *ngFor="let gd of genders" value="{{gd}}">{{gd}}</option>
            </select>
        </div>
    </div>


    <div class="form-row" *ngIf="filterSelected === 'Localização'">
        <div class=" form-group  col-12 col-sm-6 col-md-4">
            <input type="text" placeholder="Nome da Localização" formControlName="name" class="form-control">
        </div>
        <div class=" form-group  col-12 col-sm-6 col-md-4">
            <input type="text" placeholder="Tipo" formControlName="type" class="form-control">
        </div>
        <div class=" form-group  col-12 col-sm-12 col-md-4">
            <input type="text" placeholder="Dimensão" formControlName="dimension" class="form-control">
        </div>
    </div>

    <div class="form-row" *ngIf="filterSelected === 'Episódios'">
        <div class=" form-group  col-12 col-sm-12 col-md-6">
            <input type="text" placeholder="Nome do Episódio" formControlName="name" class="form-control">
        </div>
        <div class=" form-group  col-12 col-sm-12 col-md-6">
           <input type="text" placeholder="Episódio (Ex: 1, 01, S01, E01)" formControlName="episode" class="form-control"> 
        </div>
    </div>

    <div class="form-row justify-content-end">
        <button type="submit" class="btn btn-success btn-sm" > <i class="fas fa-search"></i> Filtrar</button>
    </div>

</form>