footer {
    background-color: #A8C0CE;
    height: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
     color: #2C6B68;
}